.legal-content {
  div.rounded-3 {
    background: rgba(0, 0, 0, 0.05);
  }
  h3,
  .ml-email {
    color: #417972;
  }
  p {
    color: black;
  }

  .dp-email {
    color: #1565c0;
    text-decoration: underline;
  }
  .dpo-email {
    color: #388e3c;
    text-decoration: underline;
  }
}
